src/main/mule/storage-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="storage-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="storage-api-config" api="resource::aa1235f7-05a6-4b74-9875-d848d3ec08cc:storage-api:1.0.0:raml:zip:storage-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <os:object-store name="current-storage-store" doc:name="Object store" doc:id="ef2cf9ca-822c-4c0a-a98b-e77d020334fc" />
	<flow name="storage-api-main">
        <http:listener config-ref="storage-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="storage-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="storage-api-console">
        <http:listener config-ref="storage-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="storage-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\storage\(item):storage-api-config">
        <set-variable value="#[attributes.uriParams.'item']" doc:name="Item" doc:id="6935246f-712d-4ce2-933a-3e927eee04de" variableName="item" />
		<os:retrieve doc:name="Retrieve" doc:id="e9fdc417-76ee-4ee6-b941-ac542ca5b872" key="#[vars.item]" objectStore="current-storage-store">
			<os:default-value><![CDATA[#[{}]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Transform Message" doc:id="437b1bb0-e1bd-402f-90c3-2fab193fd4da">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\storage\(item):storage-api-config" />
    </flow>
	<flow name="put:\storage\(item):storage-api-config">
		<set-variable value="#[attributes.uriParams.'item']" doc:name="Item" doc:id="7b83e150-fc1c-4a8b-a356-9d5d4fc456ac" variableName="item" />
		<os:store doc:name="Store" doc:id="380d3fb1-910b-4b56-8470-6970c58e83e5" key="#[vars.item]" objectStore="current-storage-store"/>
		<ee:transform doc:name="Transform Message" doc:id="b7fe4160-5754-46bb-ae92-2b0105b4a7e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: 'Success'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#['put:\storage\${item}:storage-api-config']" />
    </flow>
	<flow name="delete:\storage\(item):storage-api-config">
        <set-variable value="#[attributes.uriParams.'item']" doc:name="Item" doc:id="7fbd6789-bc94-44e7-a786-5e6d1d74ffc4" variableName="item" />
		<logger level="INFO" message="delete:\storage\(item):storage-api-config" />
    </flow>
	<flow name="get:\storage:storage-api-config">
        <os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="ae66b719-5f74-4221-b0d0-1a471366824c" objectStore="current-storage-store" />
		<ee:transform doc:name="Transform Message" doc:id="8d8e9650-9972-4d21-ba89-1762d29cd49b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	items: payload	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\storage:storage-api-config" />
    </flow>
	<flow name="post:\storage:storage-api-config">
		<logger level="INFO" message="post:\storage:storage-api-config" />
    </flow>
	<flow name="get:\queues:storage-api-config">
        <logger level="INFO" message="get:\queues:storage-api-config" />
    </flow>
    <flow name="put:\queues\(queue):storage-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="queue">attributes.uriParams.'queue'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\queues\(queue):storage-api-config" />
    </flow>
	<flow name="get:\queues\(queue):storage-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="queue">attributes.uriParams.'queue'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\queues\(queue):storage-api-config" />
    </flow>
</mule>
